<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Ticketing System</title>
</head>
<body>
    <form action="get" name="main_form">
        <input type="text" id="f_name">First Name <br>
        <input type="text" id="l_name">Last Name <br>
        <input type="date" id="dob">Date of Birth <br> 
        <input type="text" id="phone_number">Phone Number <br>
    </form>
</body>
</html>